// =========================================
//  Navigation
// =========================================
.navigation {
  @include flexy($just:space-between);
  background-color: $color-secondary;
  height: em(50px);
  @include e(icon){
  padding: em(10px);
  width: em(50px);
    @include m(svg) {
      color: $nav-icon;
    }
  &:active {
     border-bottom: 3px solid $color-highlight;
    }
  }
}
