
// =========================================
// Base
// =========================================

* {
  box-sizing: border-box;
  font-family: $font-family--primary;
}

ul {
  list-style: none;
}

p {
  margin: 0;
}
